:root {
    --primary-color: #20C997;
    --secondary-color: #fd7e14;
    --light-green: #d1e7dd;
  }

  
body {
    background-color: #ffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: var(--light-green);
    padding: 15px 20px;
}

.back-button-container {
    display: flex;
    justify-content: flex-end;
    padding-left: 5%;
    margin: 5px;
    margin-right: 50px;
}

.back-button {
    background-color: var(--primary-color);
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
}

.login-container {
    background-color: var(--light-green);
    border-radius: 10px;
    padding: 40px;
    max-width: 700px;
    max-height: 500px;
    width: 90%;
    margin: 50px auto;
}

.login-title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
}

.login-subtitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.form-label {
    font-weight: 500;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
}

.login-button {
    background-color: #0d3d29;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}

.register-text {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    color: #666;
}

.register-link {
    color: #0d3d29;
    text-decoration: none;
}

.footer {
    background-color: var(--light-green);
    padding: 30px;
    text-align: center;
    margin-top: auto;
}

.footer-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
}

.copyright {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.copyright i {
    margin-right: 5px;
}

/* Responsive adjustments */
@media (min-width: 992px) {
    .login-container {
        padding: 50px;
    }
    
    .footer {
        padding: 40px;
    }
}